@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* setando variável de cores usadas */
:root {
    --color-purple: #603a75;
    --color-lightpurple: #BA8FBA;
    --color-yellow: #FEF977;
}

/* ------------------- */
/*        Reset        */
/* ------------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF;
    font-family: "Poppins", sans-serif, system-ui;
}

.a menu-header {
    color: #FFF;
}

a:hover {
    opacity: 0.7;
}

.container {
    max-width: 1080px;
    padding: 2 15px;
    width: 100%;
    margin: auto;
}

/* barra de navegação */

header {
    background-color: var(--color-purple);
}

.navbar {
    font-family: "Poppins", sans-serif, system-ui;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: white;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-logo img {
    width: 60px;
    margin-left: 30px;
}

.navbar-logo span {
    font-family: "Irish Grover", system-ui;
    font-size: 22px;
    text-align: center;
}

ul.navbar-lista {
    display: flex;
    list-style: none;
    gap: 10px;
}

ul.navbar-lista a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-right: 50px;
}

/* footer */

footer {
    background-color: var(--color-purple);
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    font-family: "Irish Grover", system-ui;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 30px;
}

/* imagem de fundo e texto "adotei, e agora?" */
.purple-gradient{
    background-color: var(--color-purple);
    background: linear-gradient(180deg, var(--color-purple) 0%, var(--color-lightpurple) 100%);
}

.grid-adotei {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    margin-right: 10px;
    padding: 10px;
}

.grid-adotei h1 {
    font-family: "Irish Grover", system-ui;
    font-size: 76px;
    color: #FFF;
}

.grid-adotei span {
    justify-content: center;
    text-align: center;
}

.adotei-e-agora h1 {
    font-family: "Irish Grover", system-ui;
    text-align: center;
    margin-left: 50px;
}

.adotei-e-agora {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.adotei-e-agora img {
    display: center;
    margin: 0 auto;
    justify-content: center;
    max-width: 75%;
    width: 360px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 40px;
}

.container-gatinho {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 50px;
}

.container-gatinho img{
    width: 80%;
    object-fit: cover;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* imagem de fundo patinhas e cards */

.novos-adotantes {
    margin-top: 30px;
    text-align: center;
    width: 100%; 
    padding: 0 75px;
}

.novos-adotantes h1 {
    text-align: center;
    background: var(--color-purple);
    color: var(--color-yellow);
    font-size: 20px;
    padding: 20px;
}

.imagem-de-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.imagem-de-fundo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-dos-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    width: 85%;
    border-radius: 20px;
    margin: 30px;
    padding: 25px;
    background-color: var(--color-purple);
}

.container-cuidados {
    position: relative;
    background-image: url('./HTML CSS JS/patinhas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    padding: 20px 0;
}

.cards-cuidados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0px;
    margin-left: 45px;
    margin-right: 30px;
    margin-bottom: 60px;
    z-index: 1;
}

.cards-cuidados h2 {
    background-color: var(--color-lightpurple);
    color: var(--color-yellow);
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

.cards-cuidados p {
    font-size: 21px;
    padding: 10px 0;
    color: white;
}

/* botões com dropdown e transições ease-in-out */

#botao-dicas {
    text-align: center;
    background: var(--color-purple);
    color: var(--color-yellow);
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
    border-radius: 5px;
}

#botao-dicas:hover {
    background-color: var(--color-lightpurple);
}

/* transição de slide para cima e para baixo quando clica no botão */

#dicas-cards {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

#dicas-cards.active {
    max-height: 1000px;
}

/* Style da página contatos */

.containerContato {
    background-color: #603a75;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    line-height: 2.5;
    border-bottom: #603a75;

}

.containerContato h1 {
    font-family: "Irish Grover", serif;
    margin-right: 200px;
    color: white;
    font-weight: 400;
    font-size: 90px;
}

.containerContato img {
    border-radius: 89px;
}

.containerForms {
    width: 100%;
    background-color: #603a75;
    margin: 50px auto;
    padding: 20px;

}

.containerForms h2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 2;
}

.containerForms label {
    font-weight: 400;
    font-size: 24px;

}

.containerForms h2,
.containerForms label {
    font-family: "Irish Grover", serif;
    color: white;


}

.containerForms button {
    background: #730071;
    width: 204px;
    height: 40px;
    border-radius: 13px 0px 0px 0px;
    color: white;
    font-family: "Irish Grover", serif;
    font-weight: 400;
    font-size: 24px;
    width: 204px;

}

.inputPequeno {
    width: 247px;
    height: 31px;


}